

      /* Add this style to your existing styles or in a separate CSS file */
      .sunrise-sunset-bg {
        /*background: linear-gradient(to bottom, #ee3e17, #e06357);  Adjust colors as needed */
        background-image: url(https://img.freepik.com/free-vector/early-morning-scenery-seascape-lonely-wooden-boat_107791-7369.jpg?w=1380&t=st=1701227563~exp=1701228163~hmac=e071dc502c316d89501b66f25c450a17f679001dd6aa8f5d9a990f2db673dff3);
      }
  
      .text-body-secondary {
        color: #fff; /* Set text color to white or another contrasting color */
      }


      
  
      .btn-gradient:hover {
        background: linear-gradient(to right, #6d5a36, #e9e1b1); /* Adjust colors as needed */
        color: #fff; /* Brighter text color on hover */
      }